<div class="row px-4">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="title">BMI CALCULATOR</h2>

        <div class="row">
            <div class="col-6">
                <div class="bg-item" [ngClass]="{ 'c-disabled' : sex === 'female' }">
                    <div class="container c-pointer" (click)="male()">
                        <i class="fa-solid fa-mars icon-sex"></i>
                        <p>Male</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="bg-item" [ngClass]="{ 'c-disabled': sex === 'male' }">
                    <div class="container c-pointer" (click)="female()">
                        <i class="fa-solid fa-venus icon-sex"></i>
                        <p>Female</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="bg-item">
                    <div class="container">
                        <p>Height</p>
                        <div class="style-number">{{ height }}<span class="style-cm">cm</span></div>
                        <input type="range" class="form-range" (input)="changeHeight($event)" [value]="height" min="120" max="220">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="bg-item">
                    <div class="container">
                        <p>Weight</p>
                        <div class="style-number">{{ weight }}</div>
                        <div>
                            <i class="icon-bg fa-solid fa-minus" (click)="weight = weight - 1"></i>
                            <i class="icon-bg fa-solid fa-plus" (click)="weight = weight + 1"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="bg-item">
                    <div class="container">
                        <p>Age</p>
                        <div class="style-number">{{ age }}</div>
                        <div>
                            <i class="icon-bg fa-solid fa-minus" (click)="age = age - 1"></i>
                            <i class="icon-bg fa-solid fa-plus" (click)="age = age + 1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button (click)="calculateBMI()" class="btn btn-primary btn-lg btn-block btn-color">CALCULATE</button>
            </div>
        </div>
    </div>
</div>