/* You can add global styles to this file, and also import other style files */

body {
    background-color: #0A0E21;
}

.title {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 25px;
}

.row {
    margin-top: 20px;
}

.btn-color {
    background-color: #ff3366;
    border-color: #ff3366;
    border-radius: 25px;
    width: 100%;
}

.btn-color:hover {
    background-color: #ff3366;
    border-color: #ff3366;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}